.graph-container {
  width: 100%;
  height: 850px;
  display: block;
  margin-left: 90px;
  position: relative;
  margin-top: -10px;
}

.header {
  margin-left: 100px;
  margin-top: 60px;
}

.btn-grp-posneg {
  display: flex;
  margin-left: 90px;
  margin-top: 25px;
  position: absolute;
}

.btn-neg {
  margin-left: 10px;
}

.btn-grp-diff {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .graph-container {
    height: 600px;
    margin-left: 10px;
  }

  .header {
    margin-left: 15px;
  }

  .btn-grp-posneg {
    margin-left: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-neg {
    margin-left: 0;
    margin-top: 10px;
  }

  .btn-grp-diff {
    margin-left: 0;
    margin-top: 10px;
  }
}

.btn-posneg-grp {
  margin-left: 10px;
}
